@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

body{
   
    font-family: 'Poppins', sans-serif;
    margin:0 auto;
}
.l{
    position: relative;
}
.ll{
    height: auto;
    margin-left: auto;
    margin-left: auto;
    display: block;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}
.container{
    margin: 0 auto;
    display: flex;
    margin-top: 30px;
    

}

.main_container{
    max-width: 66.66%;
    width:66.66%;
    background:#fff;
}

.recent_container{
    max-width: 33.33%;
    width:33.33%;
    background-color: rgb(255, 255, 255);
    padding-left: 50px;
    flex:0 0 33.33%;
}

.cat_position{
    position: relative;
    padding: 0;
    margin-bottom: 10px;
    top:auto;
    right: auto;
    left: auto;
    bottom: auto;
}

.cat_info{
z-index: 4;
 font-weight: 600;
 /* font-size: 11px; */
 align-items: center;
 flex-flow: row wrap;
}

.catagory{
    padding: 4px 12px;
    color: #fff;
    background-color: rgb(243, 164, 45);
    text-decoration: none;
    letter-spacing: 0.125rem;
    white-space: nowrap;
}
.date::before{
    content: url("../../images/date.png");
    display: inline;
    margin-right: 8px;
    font-size: 10px;
}
.article_heading{
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 700;
}
.k{
    position: relative;
}
.l{
    position: relative;
    width: 100%;

}
.l img{
    /* height: 100%; */
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-position: center;
    object-fit: cover;
    /* position: relative;
    display: block; */

}
img{
    max-width: 100%;
    vertical-align: middle;
}
 .overlay{
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 3;
    padding:7px 10px;
    max-width: 70%;
    background-color: rgb(8, 8, 8);
    color: #fff;
    opacity: 1;
}
.image_caption{
    margin:0;
    text-align: center;
    font-size: 12px;

}

.overlay::before{
    content:url()
}
.op{
    background-color: #fff;
    margin-bottom: 50px;
}
.sidebar .op{
    width: 100%;
}
.op{
    position: relative;
}
.search_box{
    display: block;
    overflow: hidden;
}
.search form{
    position: relative;
    display: block;
}
.search_form{
    margin-right: auto;
    margin-left: auto;
    max-width: 460px;
}
.search .search_input{
    height: 40px;
 display: block;
 margin: 0;
 padding: 5px 50px 5px 20px;
 width: 100%;
 background-color: rgb(252, 248, 248);
 border:none
}

.recent_widget{
  position: relative;
  margin-bottom: 20px;
  display:block

}
.recent_post{
    font-size: 1rem;
}
.widget li{
    display: block;
    position:relative;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 0.85rem;
}
.post-date{
    position: relative;
    display: block;
    margin-top: 7px;
    font-size: 12px;
}
ul{
    list-style: none;
    padding-left: 0;
}
#link::before{
    content: url("../../images/blogicon.png");
    display: inline;
    margin-right: 8px;
    font-size: 10px;
}

@media only  screen and (max-width:1000px) {
    .container{
        flex-direction: column;
        max-width: 100%;
        width:100%
    }
    .k{
        max-width: 100%;
    }
 .main_container{
    max-width: 100%;
    width:100%;
    background:#fff;
}
.recent_container{
    max-width: 100%;
    width:100%;
    /* background-color: rgb(255, 255, 255); */
    padding-left: 0;
    padding-right: 0;
    margin-top: 60px;
    flex:0 0 100%;
}
.sidebar{
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 480px;
}
}

@media only  screen and (max-width:767px) {
.overlay{
    position: relative;
    right: auto;
    bottom: 0;
    left:auto;
    padding: 5px 0;
    max-width: 100%;
    width: 100%;
    background: none;
    color: black;
    text-align: center;
    justify-content: center;
}
.article_heading{
    font-size: 1.5rem;
    line-height: 1.3;
}
}
@media only  screen and (max-width:479px){
    .article_heading{
        font-size: 1.35rem;
    }
}